$greenLighter: #7BB992;
$greenLight: #4D9A6A;
$green: #297B48;	// Main Primary color */
$greenDark: #0F5D2C;
$greenDarker: #003E17;

$blueLighter: #B3E5FC;
$blueLight: #81D4FA;
$blue: #4FC3F7;	// Main Primary color */
$blueDark: #29B6F6;
$blueDarker: #03A9F4;

$white: white;
$grayLighter: #ECEFF1;
$grayLight: #CFD8DC;
$gray: #B0BEC5;
$grayDark: #90A4AE;
$grayDarker: #78909C;
$black: black;

$acceptGreen: #66BB6A;
