@import './transition';

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: $acceptGreen;
  text-align: center;
  letter-spacing: 1px;

  border: none;
  border-radius: 1px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 8px;
  text-transform: uppercase;
  vertical-align: middle;
}

.input-group {
  margin-bottom: 16px;
}

input {
  font-size: 18px;
  padding: 8px 8px 8px 4px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid rgb(120,120,120);
  outline: none;

  &:focus {
    outline: none;
  }
}

input.inline {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  border-radius: 2px;
  margin: 4px;
  padding: 6px 10px;
  border: none;
  transition: background-color $fastUITransition;
  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

button {
  border: none;
}
