@import './shadow';

$chamberHeaderHeight: 48px;
$viewerStatusBoxHeight: 32px;
$viewerStatusBoxWidth: 64px;
$headerNavHeight: 48px;

$layerModal: 100;
$layerUI: 20;
$layerMid: 10;

.flex-right {
  margin-left: auto;
}

@mixin card() {
  @include box-shadow(0, 0, 6px, $lightShadowColor);
  border: 1px solid $lightShadowColor;
}
