@import '../../scss/color';
@import '../../scss/markdown';
@import '../../scss/section';

.numeric-answer-section .submit-answer {
  background-color: $greenLighter;
  padding: 4px;
  display: flex;
  > * {
    display: inline-block;
  }
}
