@import '../../scss/color';
@import '../../scss/markdown';

.markdown-section {
  padding: 16px;

  .section-header > * {
    font-weight: 300;
    font-weight: 26px;

    &::after {
      margin-top: 12px;
      //border: 2px solid darken($gray, 50%);
      display: block;
      content: '\00A0';
      max-width: 200px;
      height: 0;
    }
  }
}

.markdown-section > .content {
  @include markdown();

  padding: 8px 16px;

  background-color: $grayLighter;
}

.markdown-section > .controls {
  margin-top: 8px;
  display: flex;
  flex-direction: row;

  > * {
    margin-left: auto;
  }
}
