@import '../../scss/layout';
@import '../../scss/color';

.chamber-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  padding: 8px;
  height: $chamberHeaderHeight;
  border-bottom: 1px solid $black;

  h1 {
    color: $black;
    font-size: 32px;
    font-weight: 100;
  }
}
