@import '../../scss/color';

.section-nav-item {
  padding: 4px;
  width: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
  color: $black;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;

  &.active {
    font-weight: 500;
  }

  &:hover {
    background-color: $grayLighter;
    &:not(.active) {
      font-weight: 300;
    }
  }

  .icon > svg {
    width: 32px;
    height: 32px;
    display: inline-block;
  }

  .icon.locked path {
    stroke-width: 0 !important;
    fill: $gray !important;
  }

  .icon.completed path {
    stroke: green !important;
  }

  strong {
    font-weight: 500;
  }

  &.primary {
    font-size: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid $grayDark;
  }

  .icon {
    display: inline-flex;
    align-items: center;
  }

  &.action {
    background-color: $accentBlue;
    color: white;
    .icon {
      margin-right: 8px;
    }
    .icon > svg path {
      fill: white !important;
      stroke: white !important;
    }
  }
}
